/* font-family: 'Poppins', sans-serif; */

:root {
  /* Fonts */
  --poppins: "Poppins", sans-serif;

  /* Colors */
  --primary: #1677ff;
  --black: #303030;
  --white: #ffffff;

  --gray: rgba(0, 0, 0, 0.06);
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins' !important;
}

/* Globally Elements */
li {
  font-family: 'Poppins' !important;
  list-style: none;
}

a {
  font-family: 'Poppins' !important;
  text-decoration: none;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: 'Poppins' !important;
}

span {
  font-family: 'Poppins' !important;
}

.navbar-toggler {
  z-index: 100 !important;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  transition: none !important;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #ffffff;
  color: #F5F5F5;
  font-family: 'Poppins' !important;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove Outline on Buttons */
input[type="button"]:active {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  outline: none;
  border: none;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.main-container {
  width: 96%;
  margin: 0 auto;
  height: auto;
}

@media only screen and (min-width: 1600px) {
  .main-container {
    max-width: 1600px;
    box-shadow: -10px -10px 30px rgba(174, 174, 192, 0.4), 10px 10px 30px rgba(174, 174, 192, 0.4);
  }
}

@media only screen and (max-width: 992px) {
  .main-container {
    width: 98%;
  }
}